@import "../../../colors/colors.scss";

.footer {
  display: block;
  color: $FOOTER_GREY_HARD;
  padding: 10px 15px;
  height: 20px;
  text-align: center;
  border-top: 1px solid $FOOTER_WHITE_HARD;
}

.footer__none {
  display: none;
}

.footer:before {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  height: 50px;
  overflow: hidden;
  box-shadow: 0 1px 1px $FOOTER_BOX_SHADOW, 0 8px 0 -3px $FOOTER_WHITE_LIGHT,
    0 9px 1px -3px $FOOTER_BOX_SHADOW, 0 16px 0 -6px $FOOTER_WHITE_LIGHT,
    0 17px 2px -6px $FOOTER_BOX_SHADOW;
}

.todo_count {
  float: left;
  text-align: left;
}

.todo_count strong {
  font-weight: 300;
}

.filters {
  margin: 0;
  padding: 0;
  list-style: none;
  position: absolute;
  right: 0;
  left: 0;
}

.filters li {
  display: inline;
}

.filters li a {
  color: inherit;
  margin: 3px;
  padding: 3px 7px;
  text-decoration: none;
  border: 1px solid transparent;
  border-radius: 3px;
}

.filters li a:hover {
  border-color: $FOOTER_FILTER_HOVER;
}

.filters li a.selected {
  border-color: $FOOTER_FILTER_SELECTED;
}

.clear_completed,
html .clear_completed:active {
  float: right;
  position: relative;
  line-height: 20px;
  text-decoration: none;
  cursor: pointer;
}

.clear_completed:hover {
  text-decoration: underline;
}
