$HEADER_BGC: rgba(0, 0, 0, 0.003);
$HEADER_BOX_SHADOW: rgba(0, 0, 0, 0.03);

$MAIN_GREY_LIGHT: #e6e6e6;
$MAIN_GREY_HARD: #737373;
$MAIN_WHITE_LIGHT: #ededed;
$MAIN_WHITE_HARD: #d9d9d9;
$MAIN_PINK_LIGHT: #cc9a9a;
$MAIN_PINK_HARD: #af5b5e;

$FOOTER_GREY_HARD: #777;
$FOOTER_BOX_SHADOW: rgba(0, 0, 0, 0.2);
$FOOTER_WHITE_HARD: #e6e6e6;
$FOOTER_WHITE_LIGHT: #f6f6f6;
$FOOTER_FILTER_HOVER: rgba(175, 47, 47, 0.1);
$FOOTER_FILTER_SELECTED: rgba(175, 47, 47, 0.2);
